.inter-regular {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-regular {
  font-family: "Noto-serif", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-italic {
  font-family: "Noto-serif", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

.footer {
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 60px 80px auto;
}

.footer__logo {
  z-index: 1;
  width: 105px;
  height: 39px;
}

.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  top: -128px;
  left: -44px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 20px;
}

.footer__social-heading {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

.footer__list-item {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-link:focus {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #fff;
  margin: 108px auto 60px 80px;
  font-size: 16px;
  line-height: 20px;
}
