.inter-regular {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-regular {
  font-family: "Noto-serif", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-italic {
  font-family: "Noto-serif", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  margin: 30px 80px auto auto;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  z-index: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
